.main {
    font-family: Arial;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    padding: 0 8px;
}

.header .logo {
    background-image: url('img/Simple\ Website.png');
    width: 170.79px;
    height: 26.72px;
}

.header .menu-burger {
    background-image: url('img/Frame\ 2.png');
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.section1 {
    background-color:  #F0F0F0;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
}

.section1 .template-by {
    font-weight: 400;
    font-size: 18px;
}

.section1 .fkweb-url {
    font-weight: 700;
    font-size: 26px;
}

.section1 .line2 {
    width: 60px;
    height: 4px;
    background-color:  #0D0D0D;
}

.section2 {
    text-align: center;
    padding: 60px 20px;
}

.section2 h2 {
    font-size: 46px;
    font-weight: 700px;
    margin: 0;
}

.section2 p {
    font-size: 20px;
    font-weight: 400px;
    margin: 0 16px;
}

.section3 .equipments {
    background-image: url('img/Frame\ 305.png');
    background-size: cover;
    width: 100%;
    height: 322px;
}

.section4 {
    /* margin-top: -60px; */
    overflow: hidden;
    min-height: 329px;
    background-color: #f0f0f0;
}

.section4-container {
    margin: 60px;
}

.section4-container h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.section5 {
    background-image: url(img/9c77fac74f2ae59752ceefbe6b0c523e.jpg);
    background-size: cover;
    background-position: 100%;
    padding: 87.5px 60px;
}

.section5 h2 {
    margin: 0;
}

.section6 .library {
    background-image: url(img/library.png);
}

.section7 .writing-machine {
    background-image: url(img/writing-machine.png);
}

.section8 .disc {
    background-image: url(img/disc.png);
}

.library, .writing-machine, .disc {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 315px;

}

.bye-world-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 165px;
}

.bye-world-section  h2 {
    margin: 0;
}

.bye-world-section  p {
    margin: 6px 0 0 0;
    font-size: 12px;
}

.footer {
    background-color: #F0F0F0;
    padding: 30px;
}

.footer .elements-group {
    text-decoration: underline;
}

.element {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer .socials .socials-container img {
    margin-right: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer p {
    font-size: 12px;
    color: #3C3C3B
}

@media screen and (min-width: 824px) {
    .sections3and4 {
        display: flex;
        width: 100%;
    }

    .section3 .equipments {
        min-width: 412px;
        width: 100%;
    }

    .section4, .section3 {
        width: 50%;
    }
}

@media screen and (min-width: 630px) {
    .sections678 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 315px;
        width: 100%;
    }

    .section6, .section7 {
        min-width: 480px;
        width: 33%;
    }

    .section8 {
        min-width: 480px;
        width: 34%;
    }
}

@media screen and (min-width: 413px) {
    .footer .elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer .elements .elements-group {
        margin-right: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .elements {
        display: flex;
        flex-direction: column;
    }
}